html {
    min-height: 100%;
    background: url("/imgs/fondo_cielo.png");
    background-size: cover;
    overflow: hidden;  /* Añade esta línea */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.cloud {
    position: absolute;
    height: 100%;
    z-index: -1;
}

#cloud1, #cloud3 {
    background: url('/imgs/nube_large.png') no-repeat;
    background-size: 50vw;
    top: -20vh;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#cloud2, #cloud4 {
    background: url('/imgs/nube_short.png') no-repeat;
    background-size: 50vw;
    top: 30vh;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.main {
    width: 350px;
    height: 560px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 5px 25px 50px #ffffff;
}

label{
    display: block;
    text-align: center;
    color: #fff;
    font-size: 2.1em;
    padding-top: 20px;
    padding-bottom: 0%;
    margin: 10px;
    font-weight: bold;
    cursor: pointer;
}

input, select {
    width: 200px; /* Ajusta este valor según sea necesario */
    height: 20px;
    background: #eee;
    display: flex;
    margin: 10px auto;
    padding: 10px;
    outline: none;
    border: 1px solid #eee; /* Esto añade un marco */
    border-radius: 10px; /* Esto redondea las esquinas */
    text-align: center; /* Esto centra el texto */
    font-family: 'Jost', sans-serif; /* Ajusta esta propiedad según la tipografía que estés utilizando en los inputs */
    font-size: 16px; /* Ajusta esta propiedad según el tamaño de la tipografía que estés utilizando en los inputs */
}

input[type="date"] {
    text-align: center;
    display: flex;
    justify-content: center;
}

.selectores select {
    width: 220px; /* Ajusta este valor según sea necesario */
    height: 50%;
    font-family: 'Jost', sans-serif;
    font-size: 16px;
}

.selectores select:last-child {
    margin-right: 0; /* Esto elimina el margen derecho del último selector para evitar un desbordamiento */
}

button {
    width: 60%;
    height: 40px;
    margin: 20px auto;
    color: #f3af04;
    background: #fff;
    font-size: 1em;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s ease-in;
}

button:hover {
    background: #f3af04;
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
